3<div class="container-fluid remove-all-space fixed-top">
  <div class="row bgc-w remove-all-space">
    <div class="col-lg-6 remove-all-space padding-sm padding-bottom-lt">
      <img src="assets/logo_sysmed.png" class="img-head" />
      &nbsp;<span> Votre syst&egrave;me de gestion m&eacute;dicale</span>
    </div>
    <div class="col-lg-6 remove-all-space align-right padding-sm padding-bottom-lt padding-top-lg padding-right-lg">
      <span> Bienvenu, </span>
      <span id="user_info" class="font-bold">BAZIE Judith Prisca</span>&nbsp;
      <span class="fa fa-user color-g icon-fa" title="profil"> </span>&nbsp;
      <span class="fa fa-question-circle color-g icon-fa" title="aide"> </span>&nbsp;
      <span class="fa fa-sign-out color-g icon-fa" title="d&eacute;connexion"> </span>
    </div>
  </div>
  <div class="row bgc-g remove-all-space border-b-red-l">
    <div class="col-lg-12 remove-all-space align-right padding-lt padding-right-lg bgc-g">
      <select class="bgc-g color-w font-bold head-chx">
        <option value="">Clinique Ophtalmologique</option>
        <option value="">Clinique 2</option>
        <option value="">Clinique 3</option>
      </select>&nbsp;
      <span class="color-w font-bold"> Notification <span class="fa fa-envelope"> (3)</span></span>
    </div>
  </div>
</div>