<div class="row remove-all-space">
  <div class="col-12 remove-all-padding">Param&egrave;tres : <span class="font-bold">Base des m&eacute;icaments</span></div>
  <div class="col-12 bgc-w padding-sm"><input type="text" id="bmedicament-search" class="form-control" placeholder="Nom comercial, Nom g&eacute;n&eacute;rique, Dosage, Forme pharmacetique, Prix moyen ..."></div>
  <!--trvs add modal here.-->

  <div class="col-12 remove-all-padding">
    <app-base-medicament-add></app-base-medicament-add>
    <app-base-medicament-edit></app-base-medicament-edit>
    <app-base-medicament-delete></app-base-medicament-delete>

    <table *ngIf="bmedicaments && bmedicaments.length != 0" class="table table-borderless table-striped table-hover">
      <tr *ngFor="let editBMedicament of bmedicaments |paginate:{itemsPerPage:itemsPerPage,currentPage:p}" >
        <!--<td width="3%">
          <br>
          <input type="radio" name="chambreChoix" class="form-control cursor-pointer" (click)="choiseBMedicament(editBMedicament._id)">
        </td>
        --><td width="28%">
          <span>Nom comercial</span> <br>
          <span><strong>{{editBMedicament.nom_comercial}}</strong></span>
        </td>
        <td width="25%">
          <span>Nom g&eacute;rique (dci)</span> <br>
          <span><strong>{{editBMedicament.nom_generique}}</strong></span>
        </td>
        <td width="21%">
          <span>Forme pharmacetique</span> <br>
          <span *ngFor="let form_pharma of form_pharmas"><strong *ngIf="form_pharma._id == editBMedicament.form_pharma">{{form_pharma.libelle_form_pharm}}</strong></span>
        </td>
        <td width="22%">
          <span>Laboratoire</span> <br>
          <span *ngFor="let labo of labos"><strong *ngIf="labo._id == editBMedicament.labo_pharma">{{labo.nom_labo}}</strong></span>
        </td>
        <td width="4%">
          <br>
          <span class="fa fa-pencil icon-fa font-bold color-g" title="modifier" (click)="openEdit(editBMedicament._id)"></span><!--&nbsp;&nbsp;&nbsp;
          <span class="fa fa-remove icon-fa font-bold color-g" title="supprimer" (click)="openRemove(editBMedicament._id)"></span>-->
        </td>
      </tr>
    </table>
    <div *ngIf="bmedicaments && bmedicaments.length != 0" class="pagination-div">
      <div class="row ">
        <div class="col-lg-6"> <!--page {{p}} sur {{totalPage}} (totale: {{total}})--> </div>
        <div class="col-lg-6 pull-right">
          <pagination-controls (pageChange)="p = $event" class=my-pagination></pagination-controls>
        </div>
      </div>
    </div>
    <div *ngIf="!bmedicaments || bmedicaments.length == 0" class="bgc-w padding-sm color-gl font-bold">
      <i>Aucun m&eacute;dicament trouv&eacute; !!!</i>
    </div>
  </div>
</div>