<div class="row">
  <div class="col-lg-12 remove-all-padding padding-top-sm padding-left-sm">
    Liste des lits&nbsp;&nbsp;<span class="fa fa-plus-circle icon-fa font-bold color-g" title="nouvelle lit" (click)="open(addLitModal)"></span>
  </div>


  <ng-template class="modal fade" #addLitModal let-c="close" let-d="dismiss" data-backdrop="static" data-keyboard="false"
               tabindex="-1" role="dialog" aria-labelledby="addLitModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addLitModalLongTitle">Ajouter un lit</h5>
          <span class="pull-right fa fa-window-close" (click)="modalReference.close()"></span>
        </div>
        <div class="modal-body">
          <form #litForm="ngForm" (ngSubmit)="ajouterLit(); ">
            <div class="form-group">
              <label class="label-bold">Code</label>
              <div class="row">
                <div class="col-12">
                  <input name="code_lit" [(ngModel)]="newLit.code_lit" type="text"
                         required autocomplete="off" class="form-control">

                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="label-bold">Chambre</label>
              <div class="row">
                <div class="col-12">
                  <select name="id_chambre" [(ngModel)]="newLit.id_chambre"
                          required autocomplete="off" class="form-control">
                    <option value="">---</option>
                    <option *ngFor="let une_chambre of chambres" [value]="une_chambre._id" >{{une_chambre.libelle_chambre}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="label-bold">Nom</label>
              <div class="row">
                <div class="col-12">
                  <input name="libelle_lit" [(ngModel)]="newLit.libelle_lit" type="text"
                         required autocomplete="off" class="form-control">

                </div>
              </div>
            </div>
            <div class="form-group margin-bottom-md">
              <label class="label-bold">Description</label>
              <div class="row">
                <div class="col-12">
                  <textarea name="desc_lit" [(ngModel)]="newLit.desc_lit" rows="6"
                            autocomplete="off" class="form-control"></textarea>

                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" [disabled]="!litForm.valid || resquesting" mat-raised-button class="btn btn-primary modal-bouton">
                <span class="fa fa-save"></span> Enregistrer</button>
              <button type="button" class="btn btn-secondary modal-bouton" (click)="modalReference.close()">
                <span class="fa fa-times-circle-o"></span> Annuler</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-template>
</div>